<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
    <link rel='stylesheet' type="text/css" href="/static/main.css">
</head>
<body>
<ul>
    <li>
        <a href="/">Главная</a>
    </li>
    <li>
        <a href="/contacts/">Контакты</a>
    </li>
    <li>
        <a href="/run/">Поиск</a>
    </li>
    <li>
        <a href="/results/">Результаты</a>
    </li>
</ul>
  <h1>
    Это контакты
  </h1>
  <p class="proverb">Позвони мне, позвони!</p>
Разработчик {{name}}
<p>Дата разработки {{creation_data}}</p>
Телефон: 8-915-583-69-78
</body>
</html>