<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Поиск</title>
    <link href="main.css" rel="stylesheet">
</head>
<body>
<h1>Форма для поиска вакансий</h1>
<p class="proverb">Ищите и обрящите</p>
<p>Введите поисковый запрос
<br>допускается использование языка поисковых запросов hh</p>
<form action="results.html">
  <input type="text" name="query_string" value="" placeholder="поисковый запрос">
  <input type="submit" value="Искать вакансии">
</form>
<br>
<a href="index.html">На главную</a>

</body>
</html>