<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Парсер HH</title>
    <link href="main.css" rel="stylesheet">
</head>
<body>
<h1>Мой парсер HH</h1>
<p class="proverb">Работа сама себя не сделает</p>
<h2>Главная страница</h2>
<h3>Информация о работе парсера:</h3>
<p>Парсер получает вакансии с сайта hh по заданным ключевым словам,
    <br>затем в полученных вакансиях определяет самые часто встречающиеся
    <br>требования, подсчитывает количество их появлений в полученных
    <br>вакансиях - всего и в процентах от общего количества.
    <br>Вычисляет среднюю зарплату в рублях по полученным вакансиям.</p>
<a href="form.html">Начать поиск</a>

</body>
</html>